
{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}
{% block content %}

  <div id="cart">
      <table class="table">
          <thead>
              <tr>
                  <th>Article</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
              </tr>
          </thead>
          <tbody id="cart-items">
              <!-- Cart items will be injected here -->
          </tbody>
      </table>

      <div id="total-price" class="text-right font-weight-bold">Total: 0 €</div>

      <form method="post" id="cartForm" action="{% url 'cart:submit_cart' %}">
          {% csrf_token %}
          <input type="hidden" name="articles" id="articlesInput" />
          <button type="submit">Submit Cart</button>
      </form>
  </div>
{% endblock %}

