{% extends 'base.html' %}
{% block title %}Shop{% endblock %}

{% block content %}
    <h1 class="text-center mb-5">Découvrez nos articles</h1>

    <div class="mb-4">
        <form method="get" class="d-inline-block">
            <select name="categorie" class="form-select" onchange="this.form.submit()">
                <option value="">Toutes les catégories</option>
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}" {% if selected_category == categorie.id %}selected{% endif %}>
                        {{ categorie.nom }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    
    {% if is_empty %}
        <p>Aucun article trouvé.</p>
    {% else %}
     <div class="row">
            {% for article in articles %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.nom }}</h5>
                        <p class="card-text">{{ article.description|truncatewords:20 }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Prix: {{ article.prix }} €</h6>
                        <a href="{% url 'article_detail' article.id %}" class="btn btn-primary">Voir le détail</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    {% endif %}
{% endblock %}